<div class="container">
  <form [formGroup]="form">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>
          Search
          <input id="searchBox" type="text" formControlName="searchText">
          <button class="btn-blue" (click)="searchClick()">Search</button>
          <div class="text-danger" *ngIf="validControls()">required, minimum 3 characters</div>
        </label>

      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-toggle" data-toggle="buttons"  >
        <label class="btn btn-secondary" [ngClass]="!tv ?'active':''">
          <input type="radio" name="options" id="option1" autocomplete="off"  (click)="toggleType(1)" > Movies
        </label>
        <label class="btn btn-secondary" [ngClass]="tv ?'active':''">
          <input type="radio" name="options" id="option2" autocomplete="off"  (click)="toggleType(2)" > Tv shows
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <ngb-pagination (pageChange)="pagination($event, page)" [collectionSize]="maxNumberOfPages" [(page)]="page" [maxSize]="5" [boundaryLinks]="false"></ngb-pagination>
    </div>
  </div>
  </form>
</div>


<div class="container">
  <div class="row">
    <div *ngFor=" let movie of blob.results" style="max-width:200px;">
      <span class="col-4" style="max-height: 400px;">
      <a style="text-decoration: none;" routerLink="/detailview/{{type}}/{{movie.id}}" routerLinkActive="active">
        <img class="logo" [src]='"https://image.tmdb.org/t/p/w185/"+movie.poster_path' alt="angular logo"
            onError="this.src='https://image.tmdb.org/t/p/w185//adw6Lq9FiC9zjYEpOqfq03ituwp.jpg'">
        <div class="ml-md-4">  {{movie.title}}</div>
         <div class="ml-md-4">  {{movie.name}}</div>

      </a>
      </span>
    </div>

  </div>
</div>
